#logo {
    margin-top: 10px;
}
section{
    display: none;
}
nav {
    background: #FE5722;
}
body {
    background: #E6E6E6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.page-footer {
    background: white;
    color: #666666 !important;
}
main {
    flex: 1 0 auto;
}

.page-footer .footer-copyright {
    color: #666666;
}

#submit, #submit-card {
    width: 100%;
}
#exchange-rate {
    color: #FF6600;
}
#no-offer-tr {
    display: none;
}


#accept, #cancel {
    width: 100%;
}